<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ILAND</title>
 <link rel="stylesheet" href="style.css">
    <style>
        h1 {
            font-size: 24px;
            color: #333;
        }
    </style>
</head>
<body>
    <h1>ILAND</h1>
    <header style="border-bottom: 1px solid #aaa; margin-bottom: 10px; padding-bottom: 10px; ">
   <a href="/vote" style="text-decoration: none;">투표하기</a>
    <a href="/mypage" style="text-decoration: none;">마이페이지</a>
</header>

</body>
</html>
